body {
font-family:Arial, sans-serif;
background-color:lightgray;
padding:20px;
}

button {
background-color:#ADD8E6;
color:#000;
border:none;
border-radius:5px;
font-size:16px;
cursor:pointer;
margin-bottom:20px;
padding:10px 20px;
}

h2 {
font-weight:700;
margin-bottom:20px;
}

#list {
list-style-type:none;
padding:0;
}

#list li {
margin-bottom:10px;
background-color:#fff;
border-radius:5px;
box-shadow:1px 1px 5px rgba(0,0,0,0.1);
padding:10px;
}

#list li:hover {
background-color:#ddd;
color:#000;
}

#definitionContainer {
background-color:#fff;
border-radius:5px;
box-shadow:1px 1px 5px rgba(0,0,0,0.1);
margin-top:20px;
padding:20px;
}

table {
border:1px solid #333;
border-collapse:collapse;
width:80%;
text-align:left;
}

th,td {
border:1px solid #333;
padding:10px;
}

th {
background-color:#f2f2f2;
font-weight:700;
}

div {
margin:0 auto;
}